


<div style="background-image:url(images/night-sky-3.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;">
<div class="jumbo">

  <div class="container">

    <div class="row">
      <div class="col s12 l6">
          <br><br><A href="/"><img class="logo" alt="logo" src="logo/somnipod.svg" style="margin-bottom:16px;"></a><br><br>
          <h2>Sleep Better. Sleep Safer.</h2>
          <p class="jumbo-p" style="color:white;">Meet Somnipod -  the sleep assistant that helps you fall asleep faster,
              keeps you safe, and wakes you up refreshed and on time every morning.
          </p>

          <p style="color:White;font-weight:200;width:80%;">Somnipod will be launching in April 2018 on Kickstarter.<br>
              Sign up to understand more about how you sleep, plus be in with a chance to win the very first Somnipod ever made. </p>
      </div>
      <div class="col s12 l6">



        <div id="mc_embed_signup" class="winForm">
        <form action="https://somnipod.us17.list-manage.com/subscribe/post?u=771c4daced464a72e9d845df7&amp;id=f54b92c214" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>

                  <br>
                    <h3 style="color:#1f4385;font-weight:400;text-align:center;">Win the first Somnipod ever built</h3>

                    <hr class="smallHR">

                    <p style="color:#1f4385">
                      You could be the first person to ever own a Somnipod.
                      Sign up for a free chance to win the very first Somnipod that is ever built. It could be yours!
                    </p>

                    <div class="mc-field-group input-field">
                    	<label for="mce-FIRSTNAME">Your name </label>
                    	<input type="text" value="" name="FIRSTNAME" class="required" id="mce-FIRSTNAME" required>
                    </div>

                    <div class="mc-field-group input-field">
                    	<label for="mce-EMAIL">Your email </label>
                    	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                    </div>

                    <div class="mc-field-group input-field">
                    	<label for="mce-HELP">What interests you about Somnipod?</label>
                    	<input type="text" value="" name="HELP" class="required" id="mce-HELP">
                    </div>

                  	<div id="mce-responses" class="clear">
                  		<div class="response" id="mce-error-response" style="display:none"></div>
                  		<div class="response" id="mce-success-response" style="display:none"></div>
                  	</div>

                    <div class="input-field">
                      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_771c4daced464a72e9d845df7_f54b92c214" tabindex="-1" value=""></div>
                      <button class="btn waves-effect waves-light" type="submit" name="action">Enter and win</button>
                    </div>

          </form>
        </div> <!-- close grey box -->



      </div>
    </div>
  </div>
  <br><br><br><br><br>
</div>
</div>


<div class="container">
    <br><br><br><br>

  <div class="row">
    <div class="col s12 l4">
      <img class="responsive-img" src="icons/night-2.svg" style="margin: 0 8em 0 6em;">
      <h4>Fall asleep faster</h4>
      <p>Somnipod is the only sleep tracker to incorporate a range of sleep aids - including white and pink
          noise, ambient sound, rain and campfire sounds, timed breathing exercises and readings from top sleep hypnotherapists.</p>
    </div>

    <div class="col s12 l4">
      <img class="responsive-img" src="icons/bed-1.svg" style="margin: 0 8em 0 6em;">
      <h4>Stay asleep longer</h4>
      <p>Somnipod continually tracks temperature, noise pollution, light and air quality in your bedroom
        and makes personalised suggestions about how you can improve the quality of your sleep.</p>
    </div>

    <div class="col s12 l4">
      <img class="responsive-img" src="icons/alarm-clock.svg" style="margin: 0 8em 0 6em;">
      <h4>Wake up refreshed</h4>
      <p>With it's advanced sensors, Somnipod can track your breathing and movement more accurately than any mobile app.
        Over time, Somnipod learns how best to wake you refreshed and ready for the day. </p>
    </div>
  </div>

  <br><br>



  <div class="row">
    <div class="col s12 l4 push-l2">
      <img class="responsive-img" src="icons/meditation.svg" style="margin: 0 8em 0 6em;">
      <h4>Enjoy peace of mind</h4>
      <p>Somnipod constantly monitors for dangerous levels of CO<sub>2</sub>,
         smoke and carbon monoxide - waking your entire family quickly in the case of smoke or dangerous leaks. </p>
    </div>

    <div class="col s12 l4 push-l2">
      <img class="responsive-img" src="icons/light-bulb.svg" style="margin: 0 8em 0 6em;">
      <h4>Understand your sleep</h4>
      <p>Somnipod tracks your sleep data every night, gathering data over time and giving you a profile of how you sleep. It even works for multiple sleepers in the same room. </p>
    </div>


    <!--
    <div class="col s12 l4">
      <img class="responsive-img" src="icons/alarm-clock.svg" style="margin: 0 8em 0 6em;">
      <h4>Wake up refreshed</h4>
      <p>???</p>
    </div>
  -->
  </div>






  <hr>


  <div class="row">
    <div class="col s6 l3"><h3>35%</h3><p>The percentage of people who suffer from not getting enough sleep at night.</p></div>
    <div class="col s6 l3"><h3>70 million</h3><p>The estimated number of Americans who have some form of sleep disorder.</p></div>
    <div class="col s6 l3"><h3>1,500+</h3><p>US road deaths each year attributed to drowsy driving and falling asleep at the wheel.</p></div>
    <div class="col s6 l3"><h3>9 million</h3><p>The number of Americans who regularly rely on sleep medication to get a proper night's sleep.</p></div>
  </div>

  <div class="row">
    <div class="col s6 l3"><h3>$63 Billion</h3><p>The annual cost of lost productivity from sleep related issues in the US each year.</p></div>
    <div class="col s6 l3"><h3>7 Reasons</h3><p>Heart disease, diabetes, kidney disease, arthritis, depression, alzheimers and cancer risk all increase without enough sleep. </p></div>
    <div class="col s6 l3"><h3>20%</h3><p>Improvement in long term memory when you get enough sleep every day.</p></div>
    <div class="col s6 l3"><h3>And more...</h3><p>Exhaustion, headaches, depression, skin aging, reduced sex drive, asthma and obesity.</p></div>
  </div>

  <hr>

</div>



<div class="winForm2" style="background-color:rgba(249, 175, 49, 0.1);padding:4em 0">
<div class="container">

  <form action="https://somnipod.us17.list-manage.com/subscribe/post?u=771c4daced464a72e9d845df7&amp;id=f54b92c214" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>

  <div class="row">

    <div class="col s12">
      <br><br>
      <h3>Somnipod will help you sleep better. Let us show you how.</h3>
      <p>Get our free newsletter and be in with a chance to win the very first ever Somnipod</p>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col s6 l3">
      <div class="input-field">
        <input id="name2" name="FIRSTNAME" type="text" class="validate" required>
        <label for="name2">Your name</label>
      </div>
    </div>

    <div class="col s6 l3">
      <div class="input-field">
        <input id="email2" name="EMAIL" type="email" class="validate" required>
        <label for="email2">Your email</label>
      </div>
    </div>

    <div class="col s6 l3">
      <div class="input-field">
        <input id="tellus2" name="HELP" type="text" class="validate">
        <label for="tellus2">What interests you about Somnipod?</label>
      </div>
    </div>

    <div class="col s6 l3">
      <div class="input-field">

        <button class="btn waves-effect waves-light" type="submit" name="action">Enter and Win!</button>
      </div>
    </div>

  </div>
  </form>
  <br><br><br>

</div>
</div>


<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FIRSTNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='HELP';ftypes[4]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>






<!-- -->
<div class="container">
  <hr>

  <div class="row">
    <div class="col s6 l3"><h3 style="color:#f9af31">Simple Setup</h3><p>Just download the Somni app from the Play or App store, press sync and your are ready.</p></div>
    <div class="col s6 l3"><h3 style="color:#f9af31">Multi User</h3><p>Incredible sensing accuracy lets Somnipod monitor and make suggestions for more than one sleeper in the same room.</p></div>
    <div class="col s6 l3"><h3 style="color:#f9af31">Hands Free</h3><p>Use your phone while Somnipod plays away. No more white noise apps preventing you from replying to a message.</p></div>
    <div class="col s6 l3"><h3 style="color:#f9af31">Restful Nights</h3><p>Somnipod has no annoying lights or noises that would otherwise wake you up. Your perfect sleep is our dream.</p></div>
  </div>


  <div class="row">
    <div class="col s6 l3"><h3 style="color:#f9af31">Privacy First</h3><p>Your bedroom is a sacred space. We never gather data unless you want to compare your sleep data with other anonymous users.</p></div>
    <div class="col s6 l3"><h3 style="color:#f9af31">Family Friendly</h3><p>Somnipod's intelligent sleep aids will be met with approval by all members of your family - from newborn baby to wisened sleep veteran.</p></div>
    <div class="col s6 l3"><h3 style="color:#f9af31">Free App</h3><p>The free Somni app, available in the App and Play stores is the perfect way to get your sleep on the right track.</p></div>
    <div class="col s6 l3"><h3 style="color:#f9af31">Values Driven</h3><p>We're dedicated to building a successful business - while still being able to sleep at night.</p></div>
  </div>

  <br><br><br>

</div>
