



<div class="container">
  <div class="row">
    <div class="col s12">Thanks!</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="s-4 m-4">Thanks!</div>
    <div class="s-4 m-4">Thanks!</div>
    <div class="s-4 m-4">Thanks!</div>
  </div>
</div>
