


<br>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h2>You're in to win!</h2><br>

      <p>Best of luck in the draw. We'll keep you up to date with our progress as we build the Somnipod.</p>

      <p>Now follow us on <a href="https://www.twitter.com/@somni_pod" target="_blank">Twitter</a> and like us on <a href="https://www.facebook.com/somnipod/" target="_blank">Facebook</a> - plus don't forget to share <a href="/">Somnipod.com</a> with everyone you know!</p>

    </div>
  </div>
</div>
