<div style="margin-top:3em"></div>

<div class="container">
  <div class="row">
    <div class="col s12 center-align">
        <h2>Somnipod</h2>
    </div>
  </div>


  <hr>


  <div class="row">
    <div class="col s12 l6">
        <h1>Sleep Better</h1>
        <h6>
          Take ownership of how well you sleep.  <br><br>
          Monitor your sleep environment, review your sleep performance and use automated recommendations to improve how you sleep every night.  <br><br>
          A beautiifully crafted combination of sleep aid, sleep tracking and alarm clock, Somnipod helps you fall asleep faster, maintain a deeper sleep and wake up fresher every day. <br><br>
        </h6>
    </div>
    <div class="col s12 l6">

      <div id="mc_embed_signup" style="padding:0 1.5em 1.5em 1.5em;background-color:#f8f8f8;margin-right: 0.5em;">
      <form action="https://somnipod.us17.list-manage.com/subscribe/post?u=771c4daced464a72e9d845df7&amp;id=f54b92c214" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
            <div id="mc_embed_signup_scroll">

                  <h4>Win the first ever Somnipod!</h4>
                  <p class="diminished">Launching soon on Kickstarter</p>

                  <p>
                    You could be the first person to ever own a Somnipod.</b>
                    Sign up below for a free chance to win the very first Somnipod that rolls off our production line.
                  </p>


                  <div class="mc-field-group input-field">
                  	<label for="mce-FIRSTNAME">Your first name </label>
                  	<input type="text" value="" name="FIRSTNAME" class="required" id="mce-FIRSTNAME">
                  </div>

                  <div class="mc-field-group input-field">
                  	<label for="mce-EMAIL">Your email </label>
                  	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                  </div>

                  <div class="mc-field-group input-field">
                  	<label for="mce-HELP">How well do you sleep?</label>
                  	<input type="text" value="" name="HELP" class="required" id="mce-HELP">
                  </div>

                	<div id="mce-responses" class="clear">
                		<div class="response" id="mce-error-response" style="display:none"></div>
                		<div class="response" id="mce-success-response" style="display:none"></div>
                	</div>


                  <div class="input-field">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_771c4daced464a72e9d845df7_f54b92c214" tabindex="-1" value=""></div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Enter and Win!</button>
                  </div>

            </div>
        </form>
      </div> <!-- close grey box -->



    </div>
  </div>

  <hr>


  <div class="row">
    <div class="col s12 l4">
      <img class="responsive-img" src="icons/night-2.svg" style="margin: 0 8em 0 6em;">
      <h4>Fall asleep faster</h4>
      <p>Somnipod is the first tool to incorporate a range of sleep aids - including white and pink
          noise, ambient sound, rain and campfire sounds, timed breathing exercises and readings from top sleep hypnotherapists.</p>
    </div>

    <div class="col s12 l4">
      <img class="responsive-img" src="icons/bed-1.svg" style="margin: 0 8em 0 6em;">
      <h4>Stay asleep longer</h4>
      <p>Somnipod continually tracks temperature, noise pollution, light and air quality in your bedroom
        and will make personalised suggestions about how you can improve the quality of your sleep.</p>
    </div>

    <div class="col s12 l4">
      <img class="responsive-img" src="icons/alarm-clock.svg" style="margin: 0 8em 0 6em;">
      <h4>Wake up refreshed</h4>
      <p>With it's advanced sensors, Somnipod can track your breathing and movement more accurately than any mobile app.
        Over time, Somnipod learns how best to wake you refreshed and ready for the day. </p>
    </div>
  </div>


  <hr>


  <div class="row">
    <div class="col s6 l3"><h3>35%</h3><p>The percentage of people who suffer from not getting enough sleep at night.</p></div>
    <div class="col s6 l3"><h3>70 million</h3><p>The estimated number of Americans who have some form of sleep disorder.</p></div>
    <div class="col s6 l3"><h3>1,500+</h3><p>US road deaths each year attributed to drowsy driving and falling asleep at the wheel.</p></div>
    <div class="col s6 l3"><h3>9 million</h3><p>The number of Americans who regularly rely on sleep medication to get a proper night's sleep.</p></div>
  </div>

  <div class="row">
    <div class="col s6 l3"><h3>$63 Billion</h3><p>The annual cost of lost productivity from sleep related issues in the US each year.</p></div>
    <div class="col s6 l3"><h3>7 Reasons</h3><p>Heart disease, diabetes, kidney disease, arthritis, depression, alzheimers and cancer risk all increase without enough sleep. </p></div>
    <div class="col s6 l3"><h3>20%</h3><p>Improvement in long term memory when you get enough sleep every day.</p></div>
    <div class="col s6 l3"><h3>And more...</h3><p>Exhaustion, headaches, depression, skin aging, reduced sex drive, asthma and obesity.</p></div>
  </div>

  <hr>

</div>

<div style="background-color:#f8f8f8;">
<div class="container">

  <form action="https://somnipod.us17.list-manage.com/subscribe/post?u=771c4daced464a72e9d845df7&amp;id=f54b92c214" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>

  <div class="row">

    <div class="col s12">
      <br><br>
      <h3>Somnipod will help you sleep better. Let us show you how.</h3>
      <p>Get our free newsletter and be in with a chance to win the very first ever Somnipod</p>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col s6 l3">
      <div class="input-field">
        <input id="name2" name="FIRSTNAME" type="text" class="validate">
        <label for="name2">Your first name</label>
      </div>
    </div>

    <div class="col s6 l3">
      <div class="input-field">
        <input id="email2" name="EMAIL" type="email" class="validate">
        <label for="email2">Your email</label>
      </div>
    </div>

    <div class="col s6 l3">
      <div class="input-field">
        <input id="tellus2" name="HELP" type="text" class="validate">
        <label for="tellus2">How well do you sleep?</label>
      </div>
    </div>

    <div class="col s6 l3">
      <div class="input-field">

        <button class="btn waves-effect waves-light" type="submit" name="action">Enter and Win!</button>
      </div>
    </div>

  </div>
  </form>
  <br><br><br>

</div>
</div>



<div class="container">
  <hr>

  <div class="row">
    <div class="col s6 l3"><h3>Simple Setup</h3><p>Just download the Somni app from the Play or App store, press sync and your are ready.</div>
    <div class="col s6 l3"><h3>Multi User</h3><p>Incredible sensing accuracy lets Somnipod monitor and make suggestions for more than one sleeper at the same time. </div>
    <div class="col s6 l3"><h3>Hands Free</h3><p>Use your phone while Somnipod plays away. No more white noise apps preventing you from replying to a message.</div>
    <div class="col s6 l3"><h3>Restful Sleep</h3><p>Somnipod has no annoying lights or noises that would otherwise wake you up. Your perfect sleep is our dream.</div>
  </div>

  <br><br><br>

</div>




<div style="background-color:#f8f8f8;overflow:hidden">
<div class="container">
  <div class="row">

    <br><br>

    <div class="col s12 l6">
      <h4>About Us</h4>
      <p>We're a passionate bunch of repeat entrepreneurs who don't plan to lose any sleep over our next exciting project - the Somnipod.
        We aim to bring a unique passion for mindfulness, self-reflection, healthy living and excitement to the mystical world of sleep.</p>
    </div>

    <div class="col s5 m6 l2 push-l1">
      <h4>Follow Us</h4>
      <p>
        <a href="blog/">Blog</a><br>
        <a href="https://www.twitter.com/@somni_pod">Twitter</a><br>
        <a href="https://www.facebook.com/somnipod">Facebook</a><br>
        <a href="#">Instagram</a><br>
      </p>
    </div>

    <div class="col s7 m6 l3 push-l1">
      <h4>Contact Us</h4>
      <p><a href="mailto:sleepbetter@somnipod.com?subject=Sleep's over - an important email from the website!" target="_blank">sleepbetter@somnipod.com</a></p>
    </div>
  </div>

  <div class="row center-align">
    <br><br>
    <p class="diminished">&copy; 2018 Somni Ltd - Sleep Better.</p>
  </div>



</div>
</div>
