<div style="margin-top:3em"></div>


<div class="container">


  <div class="row">
    <div class="col s12 center-align">
        <h2>Somnipod</h2>
    </div>
  </div>


  <hr>


  <div class="row">
    <div class="col s6">
         <h1>Sleep better</h1>
        <h3>Fall asleep faster, sleep better and wake up fresher each new day.</h3>
    </div>
    <div class="col s6">


      <div style="padding:0 1.5em 1.5em 1.5em;background-color:#f8f8f8">
      <form>
        <h4>Win the first Somnipod ever created!</h4>
        <p>
          <b>We're launching soon on Kickstarter - and you could be the first person to ever receive a Somnipod .</b>
          Enter your details and get a free chance to win the very first Somnipod that rolls off our production line.
        </p>
        <!--<p>Get an launch discounted price.</p>-->

        <div class="input-field">
          <input id="name" type="text" class="validate">
          <label for="name">Your name</label>
        </div>

        <div class="input-field">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>

        <div class="input-field">
          <textarea id="tellus" class="validate"></textarea>
          <label for="tellus">How well do you feel you sleep?</label>
        </div>

        <div class="input-field">
          <a class="waves-effect waves-light btn">Enter the draw</a>
        </div>
      </form>
    </div>


    </div>
  </div>


  <hr>


  <div class="row">
    <div class="col s4">
      <h4><img class="responsive-img" src="icons/night-2.svg" style="margin: 0 6em;">Fall asleep faster</h4>
      <p>Somnipod is the first tool to incorporate a range of sleep aids including white and pink
          noise, ambient sound, rain and campfire sounds as well as readings from top sleep hypnotherapists.</p>
    </div>

    <div class="col s4">
      <h4><img class="responsive-img" src="icons/bed-1.svg" style="margin: 0 6em;">Stay asleep longer</h4>
      <p>Somnipod continually tracks the temperature, noise pollution, light and air quality and reports back to you about
        how you could improve the quality of your sleep.</p>
    </div>

    <div class="col s4">
      <h4><img class="responsive-img" src="icons/alarm-clock.svg" style="margin: 0 6em;">Wake up refreshed</h4>
      <p>With it's advanced sensors, Somnipod can track your sleep state more accurately than any mobile app waking
        you refreshed and ready for the day. </p>
    </div>
  </div>


  <hr>


  <div class="row">
    <div class="col s3"><h3>35%</h3><p>The percentage of people who suffer from not getting enough sleep at night.</p></div>
    <div class="col s3"><h3>70 million</h3><p>The estimated number of Americans who have some form of sleep disorder.</p></div>
    <div class="col s3"><h3>1,500+</h3><p>US road deaths each year attributed to drowsy driving and falling asleep at the wheel.</p></div>
    <div class="col s3"><h3>9 million</h3><p>The number of Americans who regularly rely on sleep medication to get a proper night's sleep.</p></div>
  </div>

  <div class="row">
    <div class="col s3"><h3>$63 Billion</h3><p>The annual amount of lost productivity from sleep related issues in the US each year.</p></div>

    <div class="col s3"><h3>7 Reasons</h3><p>Heart Disease, Diabetes, Kidney Disease, Arthritis, Depression, Asthma and Cancer risk all increase without enough sleep. </p></div>
    <div class="col s3"><h3>20%</h3><p>Your improvement in long term memory when you sleep properly.</p></div>
    <div class="col s3"><h3>And more...</h3><p>Exhaustion, Headaches, Depression, skin aging, lost sex drive and Obesity. Do you really want this?</p></div>
  </div>


  <hr>


  <div class="row">
    <h3>Learn how Somnipod can help you perform better every day.</h3>
  </div>

  <br><br>

  <div class="row">
    <div class="col s3"><input id="name" type="text" class="validate"><label for="name">Your name</label></div>
    <div class="col s3"><input id="email" type="email" class="validate"><label for="email">Email</label></div>
    <div class="col s3"><textarea id="tellus" class="validate"></textarea><label for="tellus">How well do you feel you sleep?</label></div>
    <div class="col s3"><a class="waves-effect waves-light btn">Find out more</a></div>
  </div>

</div>

<div style="background-color:#f8f8f8;overflow:hidden">
<div class="container">
  <div class="row">

    <br><br>

    <div class="col s6">
      <h4>About Us</h4>
      <p>We're a bunch of passionate repeat entrepreneurs who don't plan to lose any sleep over our next exciting project - the Somnipod.
        Our unique combination of mindful relaxation, sleep environment reporting and comfortable waking is an opportunity we couldn't give up on.</p>
    </div>


    <div class="col s1"></div>

    <div class="col s2">
      <h4>Follow Us</h4>
      <p>
        <a href="#">Blog</a><br>
        <a href="#">Twitter</a><br>
        <a href="#">Facebook</a><br>
        <a href="#">Instagram</a><br>
      </p>
    </div>

    <div class="col s3">
      <h4>Contact Us</h4>
      <p><a href="mailto:sleepbetter@somnipod.com">sleepbetter@somnipod.com</a></p>
    </div>
  </div>

  <div class="row center-align">
    <br><br>
    <p class="diminished">Somni Ltd. 9 Ralph Mews, Newtownpark Avenue, Blackrock, Dublin, Ireland.</p>
  </div>



</div>
</div>
