<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cardo|Montserrat" rel="stylesheet">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>



  </head>
  <body>
    {{{body}}}




    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <!-- Icon credits: https://www.flaticon.com/packs/sleep-time-outlined -->
  </body>


</html>
