<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600" rel="stylesheet">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#130f47">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

  </head>
  <body>


    <!-- Header -->

    {{#unless hideHeader}}
    <div class="starScene">
    <div class="container">
      <div class="row">
        <div class="col s12">
            <a href="/"><img class="logo-small" alt="logo" src="/logo/somnipod.svg"></a>
            <div class="headerLinks" style=""><a href="/blog">Blog</a></div>
        </div>
      </div>

    </div>
    </div>
    {{/unless}}

    <!-- End header -->

    {{{body}}}


    <!-- footer -->
    <div style="background-color:#1f4385">
    <div class="container">
      <div class="row">

        <br><br>

        <div class="col s12 l6">
          <h4>About Us</h4>
          <p style="color:white;font-weight:200">We're a passionate bunch of repeat entrepreneurs who don't plan to lose any sleep over our next exciting project - the Somnipod.
            We aim to bring a unique passion for mindfulness, self-reflection, healthy living and excitement to the mystical world of sleep.</p>
        </div>

        <div class="col s5 m6 l2 push-l1">
          <h4>Follow Us</h4>
          <p>
            <a href="/blog">Blog</a><br>
            <a href="https://www.twitter.com/@somni_pod" target="_blank">Twitter</a><br>
            <a href="https://www.facebook.com/somnipod" target="_blank">Facebook</a><br>
            <!--<a href="#">Instagram</a><br>-->
          </p>
        </div>

        <div class="col s7 m6 l3 push-l1">
          <h4>Contact Us</h4>
          <p><a href="mailto:sleepbetter@somnipod.com?subject=Sleep's over - an important email from the website!" target="_blank">sleepbetter@somnipod.com</a></p>
        </div>
      </div>

      <div class="row center-align">
        <br><br>
        <p class="diminished" style="color:white;font-weight:200;">&copy; 2018 Somni Ltd - Sleep Better. Sleep Safer.</p>
      </div>

    </div>
    </div>
    <!-- footer -->







    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/validation.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112499248-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112499248-1');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1244078435693324');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"  src="https://www.facebook.com/tr?id=1244078435693324&ev=PageView&noscript=1"/></noscript>
    <!-- End Facebook Pixel Code -->







    <!-- Icon credits: https://www.flaticon.com/packs/sleep-time-outlined -->
    <div id="gridOverlay"></div>
  </body>


</html>
