body {  font: normal 16px / 1.5 Montserrat, sans-serif; }




/* DEBUG
body {  background: repeating-linear-gradient(rgba(0,0,0,0) 0px, rgba(0,0,0,0) 24px, rgba(0,0,0,0.1) 24px, rgba(0,0,0,0.1) 48px);}
.row{outline:1px solid #f00;}
.col {  background: repeating-linear-gradient(90deg, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 24px, rgba(0,0,0,0.1) 24px, rgba(0,0,0,0.1) 48px);outline:1px solid #00f}
form{outline:1px solid #0f0;}
*/


@media(min-width:480px){  .container{width:480px;} }
@media(min-width:720px){  .container{width:720px;} }
@media(min-width:960px){  .container{width:960px;} }
@media(min-width:1200px){  .container{width:1200px;} }






h1{font: bold 4em / 2 Montserrat, sans-serif; margin:0;}
h2{font: bold 2.5em / 1.8 Montserrat, sans-serif; margin:0;}
h3{font: bold 2em / 2.25 Montserrat, sans-serif; margin:0;}
h4{font: bold 1.5em / 3 Montserrat, sans-serif; margin:0;}
h5{font: bold 1.25em / 2.4 Montserrat, sans-serif; margin:0;}
h6{font: bold 1em / 1.5em Montserrat, sans-serif; margin:0;}
p, div, span, input{font: normal 1em / 1.5 Montserrat, sans-serif}
p, input{margin: 0 0 1.5em 0; }
input{border:1px solid #999;}
p.diminished{font normal 0.5em / 1em Montserrat, sans-serif;color:#aaa;}

hr {border-top: 1px solid #8c8b8b;text-align: center;margin:4em 0;}
hr::after {
  content: "Hello";
  color: black;
}

/*
	content: "\263D";
	display: inline-block;
	position: relative;
	top:-0.75em;
	padding: 0 10px;
	background: white;
	color: #8c8b8b;
	font-size: 1em;
  transform:rotate(30deg)
*/



/* LAYOUTS */
.container{margin:0 auto 3em auto;  }
.container .row{margin:0 0 0 0;}
.container .row .col{padding:0 0 0 1.5em; }


/* FORM ELEMENTS */

.input-field{margin-top:1.5em; }
